body {
    font-family: "MS UI Gothic", sans-serif;
    display: flex;
    background-color: white;
}

.id_player {
    opacity: 0.25;
    font-size: 0.8em;
}

#user_div {
    position: absolute;
    background: #EEEEEEAA;
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px #00000050;
}

#chat_div {
    position: absolute;
    bottom: 10px;
    background: #EEEEEEAA;
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px #00000050;
}

#game_box {
    width: 1080px;
    height: 720px;
    background-image: url('/images/donutsaucisse98.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: -2;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}


#background-darkness {
    position: absolute;
    background-color: black;
    opacity: 0.10;
    width: 1080px;
    height: 720px;
    z-index: -1;
}

#svg1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#join_status,
#chat_status,
#game_status,
#profile_status {
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    z-index: 1;
}

#join_status,
#chat_status {
    margin: auto;
    color: black;
    -webkit-text-stroke-color: red;
    -webkit-text-stroke-width: 1px;
}


#profile_status {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: lightgray;
}

#game_status {
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    text-shadow: 0 0 5px black;
}

#join_input,
#exit_input,
#send_input {
    box-shadow: 0 0 5px #00000050;
}

#messages,
#names {
    list-style-type: none;
    padding-bottom: 20px;
    width: 200px;
    overflow-y: auto;
}

#names {
    max-height: 50px;
    height: 50px;
}

#messages {
    max-height: 300px;
    height: 300px;
    background-color: #FFF;
    padding: 10px;
    border-radius: 10px;
    background: #FFFFFF22;
    backdrop-filter: blur(1px);
    box-shadow: 0 0 5px #00000050;
}

div.tooltip {
    position: absolute;
    /*on le met où on veut*/
    text-align: center;
    padding: 6px;
    background: #FFFFFFAA;
    backdrop-filter: blur(5px);
    color: black;
    pointer-events: none;
    /*empêche d'être cliquable*/
    font-size: 16px;
}